node_modules
build
.git
.env
.env.*
!.env.example
*.log
npm-debug.log*
.DS_Store
coverage
.vscode
.idea
*.md
!README.md
.github
tmp
tests
bin/test.ts
.editorconfig
.prettierrc
.eslintrc
.gitignore
fly.toml
docker-compose.yml
